header
    .header_flex_box
        .header_b
            .navigator_b
                span.nav_t nail studios
                span.nav_t shop polish

        .header_b
            img.logo(src="../img/paint_logo.png", alt="top logo")
            
        .header_b
            .navigator_b
                span.nav_t journals
                .nav_imogi
                    <i class="fas fa-lock"></i>
                    span.nav_imogi_r 0