extends templates/layout


block content
    .navigator
        li
            span.nav_texture filter:
            ul.filter_list all
            ul.filter_list better together
            ul.filter_list color theory
            ul.filter_list nail inspioration
            ul.filter_list nails of new york
            ul.filter_list new and now
        
        <i class="fas fa-search"></i>
    section.channel1
            img.IMG(src="img/hand.png", alt="fucking hand")
            section.ImgInfo
                span.date June 29, 2020
                span.discription New and Now: Summer 2020 Street Stars Nails
                    |Eleanor Langston
                span.specify read story ->
    section.channel1
            section.ImgInfo
                span.date June 29, 2020
                span.discription New and Now: Summer 2020 Street Stars Nails
                    |Eleanor Langston
                span.specify read story ->
            img.IMG(src="img/hand.png", alt="fucking hand")