@mixin initSpan {

    color : gold;
    font-size: 30px;
    
}

@mixin linker($word){
    @if $word == "odd"{
        color : blue;
    }@else{
        color : red;
    }

    text-decoration: none;
    display: block;
}
