@import "_reset";
@import "_variables";
@import "_mixins";
@import "_button";



a{


}

h1{

    color: red;
    @include responsive("iphone"){
        color:yellow;
    }
    @include responsive("ipad"){
        color:green;
    }
}