@import "_reset";
@import "_variables";
@import "_mixins";
@import "_button";


button{
    @extend %button;
    border:none;
    font-weight: 500;
}
body{
    background-color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    @include initSpan();
}


a {
    margin-bottom: 10px;
    &:nth-child(odd) {
      @include linker("odd");
      @extend %button;
      font-family: inherit;

    }
    
    &:nth-child(even) {
      @include linker("even");
    }

}