


.grid{
  
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    /*column-gap: 10px;
    row-gap: 10px;*/
    grid-template-rows: 100px repeat(2,100px) 100px;
    gap:10px
   
}

.head{

    background-color: plum;
    grid-column: 1/-1; /* e-1 -2 -3 .... refers to end*/
    grid-row-start:2;
  

}


.content{
    background-color: red;

    grid-column : span 4; /* span = number of cells , 4*/ 
  
}

.nav{
    background-color: peru;

}

.foot{
    background-color: rebeccapurple;

}