


.father{
  
    display: grid;
    grid-template-columns: 250px 250px 250px;
    /*column-gap: 10px;
    row-gap: 10px;*/
    gap:10px;
    grid-template-rows: 100px 100px 100px;
}

.child{
    display: flex;
    color: white;
    background-color: peru;
    font-size: 40px;
    justify-content: center;  /*if content number is only 5, problem happens cause of space between we want GRID! hard to make grid form in flex box*/
    flex-basis: 30%;
    align-items: center;
}

