


.grid{
  
    display: grid;
    grid-template-columns: auto 200px;
    /*column-gap: 10px;
    row-gap: 10px;*/
    gap:10px;
    grid-template-rows: 100px repeat(2,200px) 100px;
    grid-template-areas: /*making layout!!!*/
    "head head head head"
    "content content . nav"
    "content content . nav" /*. = 빈칸*/
    "foot foot foot foot";
}

.head{

    background-color: plum;
    grid-area: head;

}


.content{
    background-color: red;
    grid-area: content;
}

.nav{
    background-color: peru;
    grid-area: nav;
}

.foot{
    background-color: rebeccapurple;
    grid-area: foot;
}